{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}
					
			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


	{% comment %} 404 {% endcomment %}
	
		<main id="template-404-liquid" class="clearfix" role="main">

			{% comment %} Breadcrumb {% endcomment %}

				<nav>
					<div class="container bm-medium">
						<div class="one-whole">
							{% include 'breadcrumb' %}
						</div>
					</div>
				</nav>

			
			{% comment %} Content {% endcomment %}

				<div class="clearfix">
					<div class="container bm-medium">
						<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
							<p class="bm-larger tm-larger text-center">
								<a href="javascript:history.go(-1)" target="_self">Return To The Previous Page</a><br />
								<a href="/" target="_self">Return Home</a> &nbsp;&bull;&nbsp; <a href="/collections" target="_self">Continue Shopping</a>
							</p>
						</div>
					</div>
				</div>

		</main>