{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}

			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


		{% comment %} Pagination {% endcomment %}

			{% comment %} General {% endcomment %}

				{% assign pagination = false %}

				{% paginate collections by settings.collections_per_page %}
					{% if paginate.pages > 1 %}
						{% assign pagination = true %}
					{% endif %}
				{% endpaginate %}


			{% comment %} Top {% endcomment %}

				{% assign top_pagination = false %}

				{% if settings.pagination_display == 'top' or settings.pagination_display == 'top-bottom' %}
					{% assign top_pagination = true %}
				{% endif %}


			{% comment %} Bottom {% endcomment %}

				{% assign bottom_pagination = false %}

				{% if settings.pagination_display == 'bottom' or settings.pagination_display == 'top-bottom' %}
					{% assign bottom_pagination = true %}
				{% endif %}


		{% comment %} Collections {% endcomment %}

			{% assign has_collections = false %}

			{% if collections.size > 0 %}
				{% assign has_collections = true %}
			{% endif %}


	{% comment %} List Collections {% endcomment %}
		
		{% paginate collections by settings.collections_per_page %}

			<main id="template-list-collections-liquid" class="clearfix" role="main">

				{% comment %} Breadcrumb {% endcomment %}

					<nav>
						<div class="container bm-medium">
							<div class="one-whole">
								{% include 'breadcrumb' %}
							</div>
						</div>
					</nav>


				{% comment %} Top Pagination {% endcomment %}

					{% if pagination and top_pagination %}
						<nav>
							<div class="container">
								<div class="one-whole">
									{% include 'pagination' %}
								</div>
							</div>
						</nav>
					{% endif %}


				{% comment %} Loop {% endcomment %}

					<div class="clearfix">
						<div id="list-collections-collection-loop" class="container{% unless pagination and bottom_pagination %} bm-medium{% endunless %}">
							{% if has_collections %}

								{% for collection in collections %}
									{% include 'collection-loop' with settings.collections_x_per_row %}
								{% endfor %}

							{% else %}

								<div class="one-whole boxed {{ settings.grid_boxed_padding }} {{ page_animate }} clearfix" data-anim-type="{{ page_animation_type }}" data-anim-delay="{{ page_animation_delay }}">
									<p class="bm-larger tm-larger text-center">No Collections Found</p>
								</div>

							{% endif %}
						</div>
					</div>


				{% comment %} Bottom Pagination {% endcomment %}

					{% if pagination and bottom_pagination %}
						<nav>
							<div class="container bm-medium">
								<div class="one-whole">
									{% include 'pagination' with 'details' %}
								</div>
							</div>
						</nav>
					{% endif %}

			</main>

		{% endpaginate %}