<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-sitemap fa-fw"></i> jsTree SFE<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">jsTree SFE Concept</a>
                    </li>
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Service Framework Engine ?</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Struts iBatis Version</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Spring Mybatis Version</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Spring Hibernate Version</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">LICENSE</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-wrench fa-fw"></i> Dev Support Tools<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">jsTree Software Development</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==21}">
                        <a href="" ng-click="multiCheck(21)">Document <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=21">
                            <li>
                                <a href="">Confluence</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==22}">
                        <a href="" ng-click="multiCheck(22)">Issue Tracker <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=22">
                            <li>
                                <a href="">Jira</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==23}">
                        <a href="" ng-click="multiCheck(23)">Repository <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=23">
                            <li>
                                <a href="">Fisheye Cruclible</a>
                            </li>
                            <li>
                                <a href="">Xpenology</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==24}">
                        <a href="" ng-click="multiCheck(24)">Build <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=24">
                            <li>
                                <a href="">Nexus</a>
                            </li>
                            <li>
                                <a href="">Bamboo</a>
                            </li>
                            <li>
                                <a href="">Hudson</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==25}">
                        <a href="" ng-click="multiCheck(25)">Analysis <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=25">
                            <li>
                                <a href="">Maven</a>
                            </li>
                            <li>
                                <a href="">Sonar</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==26}">
                        <a href="" ng-click="multiCheck(26)">Database <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=26">
                            <li>
                                <a href="">Oracle</a>
                            </li>
                            <li>
                                <a href="">Mysql</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==27}">
                        <a href="" ng-click="multiCheck(27)">Network <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=27">
                            <li>
                                <a href="">Switch Router</a>
                            </li>
                            <li>
                                <a href="">Mail</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==28}">
                        <a href="" ng-click="multiCheck(28)">Monitoring <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=28">
                            <li>
                                <a href="">PRTG</a>
                            </li>
                            <li>
                                <a href="">Naver Analytics</a>
                            </li>
                            <li>
                                <a href="">Google Analytics</a>
                            </li>
                            <li>
                                <a href="">Server Mon</a>
                            </li>
                            <li>
                                <a href="">Probe</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}">{{dropDown}}
                <a href="" ng-click="check(3)"><i class="fa fa-group fa-fw"></i> About US<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">WEB Designer</a>
                    </li>
                	<li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Front End Developers</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Back End Developers</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Project Manager</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==313}">
                <a href="" ng-click="check(313)"><i class="fa fa-files-o fa-fw"></i> Dev Sample Component<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=313">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3131}">
                        <a href="" ng-click="multiCheck(3131)">Detail Component <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3131"> 
                            <li ui-sref-active="active">
				                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>
                            </li>
                            <li ui-sref-active="active">
				                <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
				            </li>
				            <li ui-sref-active="active">
				                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
				            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3132}">
		                <a href="" ng-click="multiCheck(3132)">UI Elements <span class="fa arrow"></span></a>
		                <ul class="nav nav-third-level" collapse="multiCollapseVar!=3132">
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
		                    </li>
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.buttons">Buttons</a>
		                    </li>
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.notifications">Notifications</a>
		                    </li>
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.typography">Typography</a>
		                    </li>
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.icons"> Icons</a>
		                    </li>
		                    <li ui-sref-active="active">
		                        <a ui-sref="dashboard.grid">Grid</a>
		                    </li>
		                </ul>
		                <!-- /.nav-second-level -->
		            </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



