{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Newsletter {% endcomment %}

		<div id="newsletter">
			<h4 class="title"><span>{{ settings.footer_newsletter_title }}</span></h4>

			<div class="content">
				<form action="{{ settings.footer_mailchimp_url }}" method="post" target="_blank" class="clearfix" novalidate>
					<input type="email" class="bm-remove" name="EMAIL" placeholder="Email address..." />
					<button type="submit" name="submit" class="bm-remove"><i class="fa fa-chevron-right"></i></button>
				</form>
			</div>
		</div>