{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Code Block {% endcomment %}

		{% comment %} Animate {% endcomment %}

			{% include 'animations' with 'page' %}
			{% include 'animations' with 'extras' %}


	{% comment %} Index {% endcomment %}

		<main id="template-index-liquid" class="clearfix" role="main">

			{% comment %} Image Slider {% endcomment %}

				{% if settings.show_image_slider %}
					{% include 'image-slider' %}
				{% endif %}


			{% comment %} Module 1 {% endcomment %}

				{% if settings.frontpage_module_1 != blank %}
					{% include settings.frontpage_module_1 %}
				{% endif %}


			{% comment %} Module 2 {% endcomment %}

				{% if settings.frontpage_module_2 != blank %}
					{% include settings.frontpage_module_2 %}
				{% endif %}


			{% comment %} Module 3 {% endcomment %}

				{% if settings.frontpage_module_3 != blank %}
					{% include settings.frontpage_module_3 %}
				{% endif %}


			{% comment %} Module 4 {% endcomment %}

				{% if settings.frontpage_module_4 != blank %}
					{% include settings.frontpage_module_4 %}
				{% endif %}

		</main>