@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
ul,ol{list-style-position:inside}
img{max-width:100%}
input[type=search]{-moz-appearance:none;-webkit-appearance:none;}

/* common */
body {
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;font-size: 13px;line-height: 20px;color: #f8f8f8;
	background-color:rgba(102,105,104,0.9);
	background: radial-gradient(farthest-side ellipse at 10% 0, rgba(80,83,82,0.9), rgba(71,90,97,0.89), rgba(138,152,128,0.9));
	background:-webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(80,83,82,0.9), rgba(71,90,97,0.89), rgba(138,152,128,0.9));
	background:-moz-radial-gradient(10% 0, farthest-side ellipse, rgba(80,83,82,0.9), rgba(71,90,97,0.89), rgba(138,152,128,0.9));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6505352', endColorstr='#e68a9880',GradientType=0 );
}
h1{font-size:35.75px}
h2{font-size:29.25px}
h3{font-size:22.75px}
h4{font-size:16.25px}
h5{font-size:13px}
h6{font-size:11.05px}
h1 small{font-size:22.75px}
h2 small{font-size:16.25px}
h3 small{font-size:13px}
h4 small{font-size:13px}

.wrapper{background:url(http://nas.313.co.kr:5002/Source/Image/community/bgnoise_lg_dark.png) repeat 0 0;}
.wrapper-inner{max-width:1170px;padding:0 20px;margin:0 auto;overflow:hidden;}

a{color:#9bd0f6;text-decoration:none}

.hidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;}
.visible-phone{display:none}
.visible-xs{display:none !important;}
.left{float:left}
.right{float:right}
.center{text-align:center}
.clear{clear:both}

.ico{background-image:url(http://nas.313.co.kr:5002/Source/Image/community/ico_light_gray.png);background-repeat:no-repeat;display:block;width:16px;height:16px}
.ico-form{background-position:-210px -499px}

/* content */
.page-wrap{/*margin-left:160px;*/overflow:hidden}
.page-header{padding:0 2.5641%}
.page-title {color:#fff;font-weight:300;line-height:1;margin:11px 0 15px;}
.page-title small{color:#d2d2d2;}
.page-content{width:64.10257%;padding-left:2.5641%}
.page-wrap .widget{background:url(http://nas.313.co.kr:5002/Source/Image/community/bg_block.png) repeat 0 0;padding:10px 12px;margin-bottom:30px}
.widget-title{font-size:14px;margin-bottom:10px}
.widget-title i{float:left;margin:2px 5px 0 0}
.widget-title small{font-size:13px;color:#cfcfcf;font-weight:300}

.widget h4{font-weight:normal;margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #e5e5e5;color:#d2d2d2}
p{margin-bottom:15px}
.widget ul,.widget ol{list-style-position:outside;padding-left:0.5em;margin-bottom:15px}
.widget li{margin-left:1em}
.space10{padding:10px 0}
.space20{padding:20px 0}

.aligncenter{text-align:center}
caption{text-align:left;margin-bottom:5px}
.table{width:100%;word-break:break-all;}
.table td, .table th{padding:8px;border:1px solid #333;vertical-align:middle}
.table th{background:url(http://nas.313.co.kr:5002/Source/Image/community/bg_block25.png) repeat 0 0;}

/* egovFrame */
.egovframe_subtable p {
	text-align: left; color: rgb(0, 0, 0); line-height: 18px; padding-bottom: 5px;
}
.egovframe_subtable {
	color: rgb(102, 102, 102); padding-top: 10px; padding-bottom: 10px; font-family: "�뗭�", dotum, AppleGothic, Sans-serif; font-size: 12px; border-collapse: collapse;
}
.egovframe_subtable table {
	border: 1px solid rgb(171, 194, 217); width: 650px; text-align: left; line-height: 15px; border-collapse: collapse; table-layout: fixed;margin:0 auto;
}
.egovframe_subtable table th {
	padding: 5px; width: 100px; height: 30px; text-align: center; color: #5271AB; font-weight: bold; border-right-color: rgb(171, 194, 217); border-bottom-color: rgb(171, 194, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(247, 247, 247);
}
.egovframe_subtable table td {
	padding: 5px; height: 20px; line-height: 24px; border-right-color: rgb(171, 194, 217); border-bottom-color: rgb(171, 194, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}

.egovframe_subtable .chartAltBox{width:100%;overflow:hidden;}
.egovframe_subtable .chartAltBox .chartA{float:left;width:320px;padding-right:3px;margin-right:9px;border-right:1px dashed #ccc;}
.egovframe_subtable .chartAltBox .chartB{float:left;width:320px;}
.egovframe_subtable .chartAltBox table {
	border: 1px solid rgb(171, 194, 217); width: 315px; text-align: left; line-height: 15px; border-collapse: collapse; table-layout: fixed;
}
.egovframe_subtable .chartAltBox table th {
	padding: 5px; width: 100px; height: 30px; text-align: center; color: rgb(96, 133, 201); font-weight: bold; border-right-color: rgb(171, 194, 217); border-bottom-color: rgb(171, 194, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(247, 247, 247);
}
.egovframe_subtable .chartAltBox table td {
	padding: 5px;padding-right:40px;text-align:right; height: 20px; line-height: 24px; border-right-color: rgb(171, 194, 217); border-bottom-color: rgb(171, 194, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
 .td_content {
	background-color: rgb(255, 255, 255);
}
.envrun_content_img_div {
	width: 100%;text-align:center
}