{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}


	{% comment %} Custom 1 {% endcomment %}

		<div id="custom">
			<h4 class="title"><span>{{ settings.footer_custom_title_1 }}</span></h4>

			<div class="content rte">
				<p class="text bm-remove">{{ settings.footer_custom_text_1 }}</p>
			</div>
		</div>