{% comment %} Nero v1.1.1, Copyright 2014, Cloud Eight, https://www.cloud-eight.com {% endcomment %}

	{% comment %} Page Title {% endcomment %}

		{% if template == "search" %}
			Search Results
		{% elsif template == "404" %}
			Page Not Found
		{% elsif template contains "customers" %}
			{% if template contains "register" %}
				Create Account
			{% elsif template contains "login" %}
				{% if page-title == 'breadcrumb' %}
					<span id="customer-login-breadcrumb-header">Account Login</span>
					<span id="customer-recover-breadcrumb-header" class="no-display">Recover Password</span>
				{% else %}
					Account Login
				{% endif %}
			{% elsif template contains "activate_account" %}
				Activate Account
			{% elsif template contains "reset_password" %}
				Reset Password
			{% elsif template contains "addresses" %}
				Manage Addresses
			{% else %}
				Order History
			{% endif %}
		{% else %}
			{{ page_title }}
		{% endif %}