/*
	바로보드 관리자 화면을 위한 CSS 모음
	Author : 엄선미, 전경훈
	Date : 2015.05.19
*/

@CHARSET "UTF-8";

/* Admin Navigation */
#touch-nav {
	display: block !important;
}

#navigation #touch-nav .slide-menu {
	display: block;
}

#navigation {
	top: 20px;
}

/* Header */
#header {
	height: 140px !important;
}

#header #header-logo a img {
	margin: 30px 30px 30px;
}

#header #header-admin {
	height: 160px;
	text-align: center;
	padding-top: 45px;
}

#header #header-admin li {
	list-style: none;
}

#header #header-admin a {
	font-size: 30px;
}

#header #header-admin a#breadcrumb {
	font-size: 15px;;
}

#header #header-logo {
	height: 160px;
	line-height: 160px;
}

#header #header-cart a {
	margin: 5px;
}

/* Section */
/* 추후 수정 */
.container .three-quarter.last {
	top: 20px !important;
}

.container .three-quarter {
	height: auto !important;
}

.container .one-whole {
	margin-bottom: 10px !important
}

.container .three-quarter.boxed.p-twenty {
	padding-top: 20px !important;
}



/* Footer */
#footer {
	margin-bottom: 30px;
}

#footer div {
	text-align: center;
}