@CHARSET "UTF-8";

/*
 * 바로보드 게시판 공통 CSS
 * Author: 전경훈
 * Date: 2015.06.03
 */

#boardTable {
	width: 100%;
}

.font-bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline !important;
}

div#pagingDiv {
	text-align: center;
}

div#searchDiv {
	text-align: right;
	
}
div#searchDiv input, div#searchDiv select {
	display: inline !important;
	
}

div#searchDiv input {
	width: 150px !important;
}

div#searchDiv select {
	width: 100px !important;
}

.font-abnormal {
	color: #f45b4f;
}


