@CHARSET "UTF-8";

#titleDiv label {
	margin-right: 10px;
}


input#articleTitle {
	display: inline !important;
	max-width: 500px !important;
	height: 25px;
}

span#announceSpan {
	margin-left: 20px;
}

div#additionalInputs{
	margin-top: 15px;
}

div.additional-input-div {
	float: left;
	width: 50%;
	overflow: hidden;
}

div.additional-input-div > div {
	float: left;
}

div.additional-input-div > div:nth-child(2) {
	overflow: hidden;
	width: 50px;
	padding-top: 24px; 
	margin-left: 20px;
}

select#fileAttachSelect {
	margin: 0 !important;
	max-width: 280px;
	min-width: 200px;
}

button.file-btn {
	display: block;
	width: 40px !important;
	height: 25px !important;
	min-width: 40px !important;
	min-height: 25px !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
	
}

div.action-btn-div {
}

div.action-btn-div > button {
	width: 60px !important;;
	
}

@media only screen and (max-width: 768px) {
	div.additional-input-div {
		float: initial;
		width: 100%;
	}

	div.action-btn-div {
		text-align: center;
	}

	div.action-btn-div > button {
    }
}

@media only screen and (min-width: 769px) {
	div.action-btn-div > button {
		float: right;
    }
}

