@charset "utf-8";

/* Common */ 
html {width:100%; height: 100%; margin:0; padding:0; vertical-align: top;}
body {text-align: left; height: 100%; margin:0; padding:0; vertical-align: top;}
html,body,input,textarea,select,button {font-family:Tahoma; font-size:9pt;line-height:16px; vertical-align: middle;}
p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,hr{margin:0;padding:0;}
textarea {border:1px solid #FFFFFF; resize: none;}
input, select, textarea {outline-style: none;}
img,fieldset {border:0} 
menu,ul,ol {list-style:none}
input, textarea {  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    				box-sizing: border-box;         /* Opera/IE 8+ */
}
A:link {color: #505661; text-decoration: none}
A:visited {color: #505661; text-decoration: none}
A:hover {color: #0060ff; text-decoration: none}
input:-ms-input-placeholder {color: #ababab;}
table,tr,td {border-collapse:collapse; border-spacing: 0; table-layout: fixed; vertical-align: top;}
table.layout {table-layout:fixed; display:table; border:0px; width:100%; height:100%; margin:0; padding:0; border-spacing:0px; border-collapse:collapse;}

/* community */
.asideSectionHeight {
	height: 500px;
}
.asideSectionSearchHeight {
	height: 31px; 
}
.asideSectionMenuHeight {
	height: 100%;
}
.jstreeSearchLeft {
	width: 8px;
}
.jstreeSearchMiddle {
	width: 1px;
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/gnbAsideDot.jpg);
}
.jstreeSearchRight {
	width: 171px;
}
.logoBackColor {
	background-color: #d9d9d9
}
.logoAsideWidth {
	width: 180px
}
.logoGnbHeight {
	height: 100px
}
.gapWidth {
	width: 20px
}
.gapHeight {
	height: 20px
}
.sectionWidth {
	width: 760px
}
.gnbAsideBackColor {
	background-color: #f0f0f0;
}
.sectionOuterBackColor {
	background-color: #fafafa;
}
.logoRightGapImgOver {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/logoRight.jpg);
}
.logoRightGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/logo7Right.jpg);
}
.logoBottomGapImgOver {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/logoBottom.jpg);
}
.logoBottomGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/logo7Bottom.jpg);
}
.logoCrossGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/logoCross.jpg);
}
.gnbBottomGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/gnbBottom.jpg);
}
.gnbCrossGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/gnbCross.jpg);
}
.gnbOuterBottomGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/gnbOuterBottom.jpg);
}
.asideRightGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/asideRight.jpg);
}
.asideCrossGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/asideCross.jpg);
}
.asideOuterRightGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/asideOuterRight.jpg);
}
.sectionRightGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/sectionRight.jpg);
}
.sectionBottomGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/sectionBottom.jpg);
}
.sectionCrossGapImg {
	background-image:url(http://nas.313.co.kr:5002/Component/jsp/community/index/image/sectionCross.jpg);
}